html {
    font-size: 3px;
}

body {
    margin: 0px;
}

#root {
    height: 100vh;
    width: 100vw;
}

* {
    font-family: 'SUIT';
}

input {
    font-family: 'SUIT';
    font-size: 4rem;
}

.item_table {
    border-spacing: 6rem;
    margin: -5rem;
}

.item_table th {
    text-align: left;
}
