html {
    font-size: 3px;
}

body {
    margin: 0px;
}

#root {
    height: 100vh;
}

* {
    font-family: 'SUIT';
}

input {
    font-family: 'SUIT';
    font-size: 4rem;
}

.table {
    border-spacing: 6rem;
    margin: -5rem;
}

.table.tight {
    border-spacing: 2rem;
    margin: -2rem;
}

.table th {
    font-weight: unset;
    text-align: left;
}
